<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<title>Spring Boot By @LazyEngineer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
	<div th:replace="fragments/header :: navbar-group"></div>
	<div class="container">
		<div class="jumbotron">
			<h1>About @LazyEngineer...</h1>
			<br>
			<p>Spring Boot is an open source Java-based framework used to
				create a Micro Service. It is developed by Pivotal Team. ... Spring
				Boot contains a comprehensive infrastructure support for developing
				a micro service and enables you to develop enterprise-ready
				applications that you can “just run”.</p>
			<br>
		</div>
	</div>
</body>
</html>




